
.nav{
      height: 40px;
      text-align:center;
      
      
      background-color:lightgray;
      
}
.nav li{
      display:inline;
      padding:15px;
      text-decoration: underline;
}
h2{
      border-bottom:2px solid grey;
}
div{
      margin:0px 20px 0px 60px;
}